addon/doc/*.css
addon/doc/en/
addon/globalPlugins/__pycache__
addon/globalPlugins/*/__pycache__
*_docHandler.py
*.html
manifest.ini
*.mo
*.pot
*.py[co]
*.nvda-addon
.sconsign.dblite
/[0-9]*.[0-9]*.[0-9]*.json
